<% provide(:title, "About") %>
<h1>About</h1>
  <p>
    The Dresser Ordering App solves your ordering crisis one laundry load at a
    time. That mean dryer says "Hey, see all these shirts that you had in a
    order?! Now they're all messed up. Good luck putting them back into your
    closet in a Last In First Out (LIFO) order."  Don't worry, this app is your
    white knight.
  </p>
