<% provide(:title, "Upcoming Features") %>

<h1>Upcoming Features</h1>
  <p>
    <ul class="bold">
      <li>The ability to add multiple drawers</li>
      <li>A prompt to help you re-order effiently after doing laundry</li>
      <li>A "Remember Me" checkbox</li>
    </ul>
  </p>
