<div class="center jumbotron">

<h1>Welcome to the dresser ordering app!</h1>
  <p>
    If you order your dresser with a LIFO ordering scheme but get all messed up
    every time you do laundry...you're in the right place

  </p>
    <% unless logged_in? %>
      <%= link_to "Sign up now!", signup_path, 
        class: "btn btn-lg btn-primary" %>
    <% end %>
</div>
