<% provide(:title, "My Drawer") %>

<h1> My Drawer </h1>

<%= form_with scope: :item, url: user_drawer_items_path(@user, @drawer),
  local: true do |form| %>
  <div class="form-group">
    <%= form.label :add_a_new_clothing_item %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>
  <div class="contents-centered">
    <%= form.submit 'Add Item to Drawer',
    class: 'btn btn-primary col-md-2 col-sm-3' %>
  </div>
<% end %>

<hr>

<ul class="list-group">
<% @items.each do |item| %>
  <% if item.dirty == false %>
    <div class="row">
      <p>
        <li class="list-group-item col-md-6 col-sm-6"><%= item.title %></li>

        <%= link_to "Delete", [@user, @drawer, item], method: :delete,
        class: "btn btn-danger col-md-1 col-sm-2 pull-right"%>
      </p>
    </div>
  <% end %>
<% end %>
