<% provide(:title, "Edit user") %>
<% provide(:button_text, 'Save changes') %>
<% provide(:url, user_path(@user)) %>

<h1>Update your credentials</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
      <%= render 'form' %>

    <div id="delete-account">
      <%= link_to "delete your account", user_path, method: :delete,
                                  data: { confirm: "You sure?" } %>
    </div>
  </div>
</div>