<% provide(:title, "My Hamper") %>

<h1> My Dirty Clothes Hamper </h1>

<% @drawers.each do |drawer| %>
  <div class="row">
  <%= button_to "Finished Laundry", user_drawer_clean_path(@user, drawer),
    method: :patch, class: "btn btn-success col-md-3 col-sm-3 pull-right" %>
  </div>

  <ul class="list-group">
  <% @items.each do |item| %>
    <% if item.dirty == true %>
      <div class="row">
        <p>
          <li class="list-group-item col-md-6 col-sm-6"><%= item.title %></li>

        <%= button_to "Mark as Clean", [@user, drawer, item], method: :patch,
        class: "btn btn-primary col-md-2 col-sm-3 pull-right",
        params: { item: { dirty: false } } %>
        </p>
      </div>
    <% end %>
  <% end %>
  </ul>
<% end %>