<% provide(:title, "Today") %>

<h1> My Clean Clothes </h1>

<% @drawers.each do |drawer| %>
  <ul class="list-group">
  <% @items.each do |item| %>
    <% if item.dirty == false %>
      <div class="row">
        <p>
          <li class="list-group-item col-md-6 col-sm-6"><%= item.title %></li>

          <%= button_to "Mark as Worn", [@user, drawer, item], method: :patch,
          class: "btn btn-warning col-md-2 col-sm-3 pull-right",
        params: { item: { dirty: true } } %>

        </p>
      </div>
    <% end %>
  <% end %>
<% end %>
