@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}


/* universal */

body {
  padding-top: 60px;
  color: #4d3319;
}

body#background {
  background-image: url(wood2.jpeg);
  background-color: white;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.bold {
  font-weight: bold;
}

/* header */

.navbar-default {
  background-color: #4d3319;
  .navbar-brand {
    color: #fff;
    text-transform: uppercase;
  }
  .navbar-nav > li > a {
    color: #fff;
  }
  .navbar-nav > li > a:hover {
    color: #808080;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #4d3319;
  color: #777;
}

footer a {
  color: #4d3319;
}

footer a:hover {
  color: #808080;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

/* jumbotron */

.jumbotron {
  background-color: #fff1e6;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}
  
/* Buttons */



/* Items */

.list-group {
  margin: 1em 0;
}
.list-group-item {
  background-color: #fff1e6;
  margin-bottom: 5px;
}

/* Show */
.contents-centered {
  display: flex;
  justify-content: center;
}
hr {
    border: none;
    border-top: 1px dotted black;
}

/* Edit */

#delete-account {
  margin-top: 2em;
  font-weight: bold;
  color: #0000a5;
}


/* Mobile Styles */

@media (max-width: 500px) {
  body {
    padding: 60px 30px 0 30px;
  }
}