<header class="navbar navbar-fixed-top navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
        data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
        aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Dresser App", root_path, class: "navbar-brand" %>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? && current_user.admin? %>
          <li>
            <%= link_to "Today", user_items_today_path(current_user) %>
          </li>
          <li>
            <%= link_to "My Drawer",
            user_drawer_path(current_user, current_drawer) %>
          </li>
          <li>
            <%= link_to "My Hamper",
            user_items_hamper_path(current_user) %>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"
            role="button" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to "Upcoming Features", features_path %>
              </li>
              <li>
                <%= link_to "Users", users_path %>
              </li>
              <li>
                <%= link_to "Account Info", edit_user_path(current_user) %>
              </li>
              <li role="separator" class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% elsif logged_in? && !current_user.admin? %>
          <li>
            <%= link_to "Today", user_items_today_path(current_user) %>
          </li>
          <li>
            <%= link_to "My Drawer",
            user_drawer_path(current_user, current_drawer) %>
          </li>
          <li>
            <%= link_to "My Hamper",
            user_items_hamper_path(current_user) %>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"
            role="button" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to "Upcoming Features", features_path %>
              </li>
              <li>
                <%= link_to "Account Info", edit_user_path(current_user) %>
              </li>
              <li role="separator" class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% elsif !logged_in? %>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
        </li>
      </ul>
    </div>
  </div>
</header>


